:root {
    --Roboto: "Roboto", sans-serif;
    --Rubik: "Rubik", sans-serif;
    --Outfit: "Outfit", sans-serif;
  }
 
.produto {
    display: flex;
    padding: 2rem;
    justify-content: center;
}


.produto_imagem img {
    max-width: 600px;
    width: auto;
}

.produto_acao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 4rem;
    max-height: 300px;
}

.produto_descricao {
    text-align: left;
    font-size: 38px;
}

.produto_precos {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin-top: 7rem;
}

.produto_preco {
    font-family: var(--Roboto)
}

.produto_button {
    border: none;
    background-color: rgba(7, 155, 32, 0.836);
}

.produto_button:hover {
    color: white;
    background-color: rgba(6, 211, 40, 0.836);

}

.produto_especificacao {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: left;

}

.descricao {
    padding: 2rem;
    text-align: left;
    font-size: 24px;
}
.descricao h3 {
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.descricao div {
    margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {

}