.sobre_nos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    max-width: 700px;
}

.sobre_nos-titulo {
    font-size: 22px;
    font-weight: bold;
    padding: 1rem 0;
}

.sobre_nos-texto {
    padding: 0 0 1rem;
    text-align: left;
}

@media screen and (max-width: 900px) {
.sobre_nos {
    max-width: 300px;
    margin-bottom: 2rem;
}
}