/* Base */

:root {
  --Roboto: "Roboto", "sans-serif";
}

/* Cabeçalho */

.cabecalho {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aqua;
}

.cabecalho_logo {
  max-width: 75px;
  width: 100%;
  margin: 0.5rem;
  border: whitesmoke;
  border-style: solid;
  border-width: 5px;
}

.cabecalho_nav {
  text-align: center;
  padding-right: 1rem;
}

.cabecalho_lista {
  display: inline-block;
  padding: 1rem;
}

/* Carousel */

.carousel {
  display: flex;
  width: 30%;
  margin: 1rem auto;
  padding-bottom: 5rem;
  justify-content: center;
  align-items: center;
}

/* Destaques */

.destaques {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 10%;
  gap: 2rem;
}

.destaques_itens {
  max-width: 500px;
}

/* Rodapé */

.newsletter {
  display: flex;
  padding: 1rem;
  align-items: center;
  background-color: aqua;
  flex-direction: column;
}

.newsletter_form {
  margin: 0 auto;
}

.newsletter_input {
  text-align: left;
  width: 20rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  padding-left: 5px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  margin: 0 15%;
  padding: 1.5rem 0;
}

.nav_block {
}

.nav_chamada {
  font-family: var(--Roboto);
  font-weight: 500;
  padding-bottom: 1rem;
}

.nav_lista {
  font-family: "Roboto", "sans-serif";
  font-style: italic;
  font-size: 18px;
  transition: 0.5s;
}

.nav_lista:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.363);
}

.nav_midias {
  justify-content: flex-start;

  padding-top: 1rem;
}

.rodape {
  display: flex;
  padding: 1.5rem;
  align-items: center;
}

.rodape_direitos {
  margin: 0 auto;
}

.rodape_icone {
  padding-right: 0.2rem;
  cursor: pointer;
  transition: 0.5s;
}

.rodape_icone:hover {
 color: rgba(59, 53, 53, 0.808);
}
